@model He_SheStore.Models.Category

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="PartyTitle">Register New Category</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form method="post" id="form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="modal-body">

            <div class="row">

                <div class="col-md-12">
                    <label class="col-sm-6 col-form-label">Category Name <span class="text-danger">*</span></label>
                    <div class="col-sm-12">
                        <input type="text" asp-for="CategoryName" class="form-control" placeholder="Category Name">
                        <span class="text-danger" id="CategoryNameErr"></span>
                    </div>
                </div>



            </div>


        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" id="btnSave" onclick="onSave()" class="btn btn-primary">Create </button>
        </div>
    </form>
</div>
@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}
