@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";

}
<br />
<br />
<div class='staic-banner'>
    <div class="container">
        <h2>Access Denied</h2>
        <p class="Static-navigation">
            <a href="/Home/Index">Home</a>
            <i class="bi bi-chevron-right"></i>
            <a>Access Denied</a>
        </p>
    </div>
</div>
<br />
<header>
    <h1 class="text-danger text-center">@ViewData["Title"]</h1>
    <p class="text-danger text-center">You do not have access to this resource.</p>
</header>
<br />
<br />
<br />
<br />
<br />