@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Views/Shared/_Login.cshtml";

}

<p class="text-center">
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
