
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .about-img img {
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }
</style>
<div class='staic-banner'>
    <div class="container">
        <h2>About Us</h2>
        <p class="Static-navigation">
            <a href="/Home/Index">Home</a>
            <i class="bi bi-chevron-right"></i>
            <a>About Us</a>
        </p>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h1>About Company</h1>
            <p>
                Welcome to He&She Store, where fashion meets style and quality. We are a premier destination for the latest trends in men's and women's fashion. At  He&She Store, we take pride in curating a diverse selection of clothing, accessories, and more to help you express your unique style.

                Our journey began with a passion for fashion and a commitment to delivering exceptional products to our customers. With a keen eye for design and an understanding of what our customers desire, we've built a reputation for providing high-quality fashion choices that cater to a wide range of tastes.

                Discover a world of possibilities in our store, where you can explore the latest in clothing, footwear, and accessories. Whether you're looking for casual wear, formal attire, or anything in between, we've got you covered.
               
                Feel free to drop by our store during our operating hours or give us a call if you need assistance or have any inquiries. You can also reach out to us via email, and we'll do our best to respond promptly.
            </p>
        </div>
        <div class="col-md-6">
            <div class="about-img">
                <img src="~/assets/img/posters/about us banner.jpg" alt="">
            </div>
        </div>
    </div>
</div>
