@model He_SheStore.ViewModel.UserViewModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .container.my-5 {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 10px;
    }

    form {
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 10px;
    }

    label {
        font-weight: bold;
    }

    .input-group {
        margin-top: 10px;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }
</style>
<div class='staic-banner'>
    <div class="container">
        <h2>Update Profile</h2>
        <p class="Static-navigation">
            <a href="/Home/Index">Home</a>
            <i class="bi bi-chevron-right"></i>
            <a>Update Profile</a>
        </p>
    </div>
</div>
<div>
    <p class="text-center">Update your Profile</p>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form asp-action="Profile" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="userId" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">First Name<span class="text-danger">*</span></label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-person"></i></span>
                                <input type="text" asp-for="FirstName" class="form-control" id="name" placeholder="First Name">
                            </div>
                            <span class="text-danger" asp-validation-for="FirstName"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="username">Last Name<span class="text-danger">*</span></label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-person"></i></span>
                                <input type="text" class="form-control" asp-for="LastName" id="username" placeholder="Last Name">
                            </div>
                            <span class="text-danger" asp-validation-for="LastName"></span>

                        </div>
                    </div>
                    <div class="col-md-12 mt-2">
                        <div class="form-group">
                            <label for="confirmPassword">Mobile Number<span class="text-danger">*</span></label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-phone"></i></span>
                                <input type="number" asp-for="MobileNumber" class="form-control" id="username" placeholder="Mobile Number">
                            </div>
                            <span class="text-danger" asp-validation-for="MobileNumber"></span>
                        </div>
                    </div>
                    <div class="col-md-12 mt-2">
                        <div class="form-group">
                            <label for="confirmPassword">Email<span class="text-danger">*</span></label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                                <input type="email" asp-for="Email" class="form-control" id="username" readonly placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12  mt-2">
                        <div class="form-group">
                            <label for="currentPassword">Old Password<span class="text-danger">*</span></label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-card-text"></i></span>
                                <input type="password" asp-for="OldPassword" class="form-control" id="currentPassword" placeholder="Old Password">
                            </div>
                            <span class="text-danger" asp-validation-for="OldPassword"></span>

                        </div>
                    </div>
                    <div class="col-md-12  mt-2">
                        <div class="form-group">
                            <label for="currentPassword">Current Password<span class="text-danger">*</span></label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-card-text"></i></span>
                                <input type="password" asp-for="NewPassword" class="form-control" id="currentPassword" placeholder="New Password">
                            </div>
                            <span class="text-danger" asp-validation-for="NewPassword"></span>

                        </div>
                    </div>
                    <div class="col-md-12  mt-2">
                        <div class="form-group">
                            <label for="newPassword">Confirm New Password<span class="text-danger">*</span></label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-card-text"></i></span>
                                <input type="password" asp-for="ConfirmPassword" class="form-control" id="newPassword" placeholder="Confirm New Password">
                            </div>
                            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                        </div>
                    </div>
                    <div class="col-md-12 text-end">
                        <input type="submit" class="btn btn-primary mt-3" value="Update" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
